# FILE based

# LaTex
*.log
*.bbl
*.blg
*.fdb_latexmk
*.bak
*.aux
*.bcf
*.log
*.toc
*.xml
*.fls

*Zone.Identifier
**/~$*.xlsx

# FOLDER based
**/build/
**/.ipynb_checkpoints/
**/_pycache_/

# FOLDER based (exceptions)
!*/Anleitungen_Altprotokolle/**/
!*/data/**/
!*/pic/**/
!*/rohdaten/**/
!*/figures/**/

# non reproducable files from V46
!V46/build