# latex
*.log
*.bbl
*.blg
*.fdb_latexmk
*.bak
*.aux
*.bcf
*.log
*.toc
*.xml
*.fls

# FILE based
!**/main.pdf
**/~$*.xlsx
V_basic/test.py
# *.pdf

# FOLDER based
!misc/*/
!*/Anleitungen_Altprotokolle/**/
!*/data/**/
!*/content/**/
!*/pic/**/
**/build/
**/.ipynb_checkpoints/
**/_pycache_/
