*.log
*.pdf
*.aux
*.bcf
*.log
*.toc
*.xml
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.bak
!misc/*/
!*/Anleitungen_Altprotokolle/**/
!**/main.pdf
!*/data/**/
!*/content/**/
!*/pic/**/
**/build/
**/~$*.xlsx
**/.ipynb_checkpoints/
**/_pycache_/
V_basic/test.py
